.food-random-container {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .food-image {
    width: auto;
    height: 250px;
    margin-bottom: 2em;
  }
  .food-name {
    font-weight: 700;
  }
}

.loading-text {
  margin-top: 3em;
  text-align: center;
  font-weight: 700;
}