// .wrapper {
//   min-height: 100vh;
//   flex: 1;
// }
main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 200px);
}
footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  align-items: center;
  .footer-wrapper {
    display: flex !important;
    justify-content: center;
    align-items: center !important;
    small {
      font-weight: 700;
    }
  }
}

.header-navbar {
  background: #fff !important;
  height: 100px;
  border-bottom: 1px solid #eaeaea;
  display: flex;
  align-items: center;
  .navbar-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    strong {
      font-weight: 700;
    }
    .foodom-logo {
      width: 40px;
      height: 40px;
      margin-right: 1em;
    }
  }
}
